SPRING_DATASOURCE_URL: "jdbc:oracle:thin:@(DESCRIPTION=(ENABLE=BROKEN)(ADDRESS=(PROTOCOL=tcp)(PORT=1524)(HOST=db-nodo-pagamenti.u.db-nodo-pagamenti.com))(CONNECT_DATA=(SERVICE_NAME=NDPSPCA_NODO4_CFG))(SO_KEEPALIVE=true)(TCP_KEEPIDLE=60)(TCP_KEEPINTVL=30)(TCP_KEEPCNT=15))"
SPRING_DATASOURCE_USERNAME: 'nodo-oracle-db-name'
SPRING_DATASOURCE_PASSWORD: 'nodo-oracle-db-password'
SPRING_DATASOURCE_DRIVER: 'oracle.jdbc.OracleDriver'
SPRING_JPA_DB_PLATFORM: 'org.hibernate.dialect.Oracle12cDialect'
DATABASE_SCHEMA: 'NODO_ONLINE'

COSMOS_DB_URI=https://pagopa-d-weu-bizevents-ds-cosmos-account.documents.azure.com:443/
COSMOS_DB_NAME=db
COSMOS_DB_CONTAINER_NAME=biz-events
COSMOS_DB_PRIMARY_KEY=<AccountPrimaryKey>